{%block title%}Sign Up Here{%endblock%}
{%block body%}

<div class = 'flash'>
    {% with messages = get_flashed_messages() %}
        {% if messages %}

        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

</div>

<form action="{{ url_for('newMember') }}" method='post'>
  Name:<br>
  <input type="text" name="name"><br>
  Email Adress:<br>
  <input type="text" name="email"><br>
  Password:<br>
  <input type="password" name="password"><br>
  Validate password:<br>
  <input type="password" name="verify"<br>
  <input type="submit" value="Sign up">
</form>
<p> Already have an account? Go <a href={{url_for('login')}}>Here!</a>
{%endblock%}


